h1 {
    color: #3C1900;
}

.container {
    background: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#board {
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
}

.card {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 7px;
}

.back,
.front {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: repeating-linear-gradient(120deg, #F4A460 1px, #DCDCDC 3px, #F5DEB3 6px);
    padding: 5px;
}

img {
    width: 90px;
    height: 90px;
}

.matchedImage {
    background-image: repeating-linear-gradient(120deg, #228B22 1px, #9CBA7F 3px, #9CBA7F 6px);
}